@model IEnumerable<Prueba.Models.dbModels.Libro>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Fecha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Paginas)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Imagen)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdAutorNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdGeneroNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Fecha)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Paginas)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Imagen)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdAutorNavigation.IdAutor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdGeneroNavigation.IdGenero)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdLibro">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdLibro">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdLibro">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
